@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #92e0ff;
    --secondary-color: #0013bd;
    --font-family: 'Montserrat', sans-serif;
    --font-size: 1.2rem;
    --background-color: #5703dd;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Empilha os blocos verticalmente */
    justify-content: center; /* Alinha os blocos no centro vertical */
    align-items: center; /* Alinha os blocos no centro horizontal */
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
    min-width: 75%;
    padding: 0rem 15rem;
}

h2{
    font-size: 1.4rem;
    text-align: center;
}

h3{
    font-size: 1.2rem;
    text-align: center;
}

header {
    position: relative;
    display: flex;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
}

nav {
    position: fixed;
    margin-left: auto;
    display: flex;
    gap: 1rem;
    top: 2.5rem;
    right: 15rem;
}

.logo {
    position: absolute; /* Garante que o elemento seja posicionado em relação ao contêiner pai */
    top: 0.5rem; /* Ajusta a posição vertical */
    left: 0; /* Gruda o elemento na esquerda */
    margin-left:0; /* Adiciona um pequeno espaçamento interno, se necessário */
    font-size: 2.5rem; /* Ajuste do tamanho da fonte */
    color: var(--primary-color); /* Cor do texto */
    align-items: center;
}


#menu {
    transition: visibility 0.3s ease; /* Transição suave para visibilidade */
    opacity: 1; /* Totalmente visível por padrão */
    visibility: visible; /* Visível por padrão */
    animation: fadeIn 0.3s ease; /* Animação de entrada */
}

.hidden {
    opacity: 0; /* Torna o menu invisível */
    visibility: hidden; /* Remove o menu da visibilidade */
    animation: fadeOut 0.3s ease; /* Animação de saída */
    display: none;
}

.menu-button {
    position: fixed;
    top: 1rem;
    right: 5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: var(--secondary-color);
}


header nav a {
    color: var(--text-color);
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: color 0.3s ease; /* Adiciona uma transição suave ao hover */
    font-size: 1.5rem;
}

header nav a:hover {
    color: var(--primary-color); /* Altera a cor para a cor principal no hover */
}

header div{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
}

header div h2{
    color: var(--text-color);
    font-size: 2rem;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
}

.intro {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem ;
    gap: 2rem;
    background-color: rgba(146, 224, 255, 0.1); /* Cor com opacidade reduzida */
    border-radius: 2rem;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.hero-image{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.hero-social img {
    width: 3rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 1rem;
    padding: 0.5rem; /* Transição suave para o hover */
}

.hero-social img:hover {
    background-color: var(--primary-color); /* Altera o fundo no hover */
    transform: scale(1.1); /* Aumenta levemente o tamanho no hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais forte no hover */
}

.hero-cv {
    background-color: var(--primary-color);
    padding: 1rem; /* Ajusta o espaçamento interno */
    border-radius: 1rem;
    width: 100%; /* Garante que a largura ocupe todo o espaço disponível */
    height: 100%; /* Garante que a altura ocupe todo o espaço disponível */
    box-sizing: border-box; /* Inclui a borda e o padding no tamanho total */
    text-align: center;
    color: var(--background-color);
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona uma transição suave no hover */
}

.hero-cv:hover {
    background-color: var(--secondary-color); /* Altera a cor de fundo no hover */
    color: var(--text-color); /* Altera a cor do texto no hover */
}

.text{
    font-size: 1.4rem;
}

.scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2rem; /* Posiciona o botão no final da seção */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.scroll-down:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    transform: translateX(-50%) scale(1.1); /* Aumenta levemente no hover */
}

.project{
    background-color: var(--secondary-color);
    border-radius: 1rem; /* Bordas arredondadas mais suaves */
    padding: 1rem; /* Espaçamento interno para evitar que o conteúdo fique colado nas bordas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra para destacar o bloco */
    min-height: 10vh;
    height: auto; /* Altura se adapta ao conteúdo */
    width: 100vw;
    margin: 2rem 0;
    padding: 2rem 15rem;
}

.project-info{
    display: grid; /* Define o layout como grid */
    grid-template-columns: repeat(3, 1fr); /* Cria três colunas de tamanhos iguais */
    gap: 2rem; /* Espaçamento entre os itens */
    padding: 1rem; /* Espaçamento interno */
    align-items: flex-start;
    justify-items: center; /* Centraliza os itens horizontalmente */
    min-height: 10vh;
    height: auto; /* Altura se adapta ao conteúdo */
}

.project-card{
    display: flex;
    flex-direction: column;
    gap:1rem;/* Espaçamento entre os itens */
    align-items: flex-start; /* Centraliza os itens verticalmente */
    justify-items: center; /* Centraliza os itens horizontalmente */
    background-color: rgba(146, 224, 255, 0.1); /* Cor com opacidade reduzida */
    padding: 2rem;
    min-height: 10vh;
    height: auto; /* Altura se adapta ao conteúdo */;
    border-radius: 1rem;
}

.project-info div h2, h3{
    align-self: center
}

.project-info img {
    width: 15rem;
    height: 22rem;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-self: center
}

.tags{
    display: flex; /* Alinha os itens em uma linha */
    justify-content: flex-start; /* Espaça os itens uniformemente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 1rem; /* Espaçamento entre os itens */
    width: 100%; /* Garante que ocupe toda a largura disponível */
    flex-wrap: wrap;
}

.tags p {
    padding: 0.5rem;
    background-color: rgba(146, 224, 255, 0.3); /* Fundo com opacidade reduzida */
    border: 2px solid var(--primary-color); /* Borda sólida com a cor primária */
    border-radius: 0.5rem; /* Bordas arredondadas */
    color: var(--text-color); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    font-size: 0.8rem;
    font-weight: bold;
}

.link {
    display: flex; /* Alinha os itens em uma linha */
    justify-content: space-between; /* Espaça os itens uniformemente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 1rem; /* Espaçamento entre os itens */
    width: 100%; /* Garante que ocupe toda a largura disponível */
    position: relative;
}

.link a {
    background-color: var(--primary-color);
    padding: 1rem 1.5vw;
    border-radius: 1rem;
    color: var(--secondary-color);
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave no hover */
    width: 100%; /* Garante que ocupe toda a largura disponível */
    position: relative;
}

.link a:hover {
    background-color: var(--secondary-color); /* Altera a cor de fundo no hover */
    color: var(--text-color); /* Altera a cor do texto no hover */
}

.experience{
    background-color: var(--secondary-color);
    border-radius: 1rem; /* Bordas arredondadas mais suaves */
    padding: 1rem; /* Espaçamento interno para evitar que o conteúdo fique colado nas bordas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra para destacar o bloco */
    height: 94vh;
    min-height: 10vh;
    height: auto; /* Altura se adapta ao conteúdo */

}

.experience-info {
    display: grid; /* Define o layout como grid */
    grid-template-columns: repeat(3, 1fr); /* Cria três colunas de tamanhos iguais */
    gap: 2rem; /* Espaçamento entre os itens */
    padding: 1rem; /* Espaçamento interno */
    align-items: flex-start;
    justify-items: center; /* Centraliza os itens horizontalmente */
    min-height: 10vh;
    height: auto; /* Altura se adapta ao conteúdo */
}

.experience-info div{
    display: flex;
    flex-direction: column;
    gap:1rem;/* Espaçamento entre os itens */
    align-items: flex-start; /* Centraliza os itens verticalmente */
    justify-items: center; /* Centraliza os itens horizontalmente */
    background-color: rgba(146, 224, 255, 0.1); /* Cor com opacidade reduzida */
    padding: 2rem;
    min-height: 10vh;
    height: auto; /* Altura se adapta ao conteúdo */;
    border-radius: 1rem;
}

.experience-info div h2, h3{
    align-self: center
}

.experience-info img {
    width: 21rem;
    height: 25rem;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-self: center
}

.skills{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 ;
    background-color: rgba(146, 224, 255, 0.1); /* Cor com opacidade reduzida */
    width: 100vw;
    padding: 2rem 0 ;
}

.skills-info{
    border: var(--background-color) 0.3rem solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 80vw;
    
}

.skills-card{
    border: var(--secondary-color) 0.3rem solid;
    border-radius: 1rem;
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-width: 10rem;
}

.skills-card:hover{
    background-color: rgba(146, 224, 255, 0.4);
}

.skills-card img{
    width: 6rem;
    text-align: center;
    border-radius: 50%;
}

.skills-card p{
    font-size: 1.3rem;
}

.contact{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: var(--secondary-color);
    width: 100vw;
}

.contact-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.contact-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.contact-logos img {
    width: 5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 1rem;
    padding: 0.5rem; /* Transição suave para o hover */
}

.contact-logos img:hover {
    background-color: var(--primary-color); /* Altera o fundo no hover */
    transform: scale(1.1); /* Aumenta levemente o tamanho no hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais forte no hover */
}

.contact-cv{
    background-color: var(--primary-color);
    padding: 1rem; /* Ajusta o espaçamento interno */
    border-radius: 1rem;
    /* width: 100%; 
    height: 100%;  */
    box-sizing: border-box; /* Inclui a borda e o padding no tamanho total */
    text-align: center;
    color: var(--background-color);
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona uma transição suave no hover */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-cv img{

}

.contact-cv:hover {
    background-color: var(--secondary-color); /* Altera a cor de fundo no hover */
    color: var(--text-color); /* Altera a cor do texto no hover */
}

@media(max-width:1500px){
    body{
        gap:2rem;
    }
    
    .intro {
        padding: 2rem; /* Espaçamento interno */
        min-width: 90vw; /* Largura mínima */
        min-height: 10vh;
        height: auto; /* Altura se adapta ao conteúdo */
    }
    
    .intro-info {
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        align-items: center; /* Centraliza os itens verticalmente */
        gap: 2rem; /* Espaçamento entre os itens */
        padding: 2rem; /* Espaçamento interno */
        background-color: rgba(146, 224, 255, 0.1); /* Cor com opacidade reduzida */
        border-radius: 2rem;
    }

    .experience{
        padding: 2rem; /* Espaçamento interno */
        min-width: 90vw; /* Largura mínima */
        min-height: 10vh;
        height: auto; /* Altura se adapta ao conteúdo */
        
        flex-direction: column; /* Empilha os itens verticalmente */
        justify-content: center; /* Centraliza os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    .experience-info {
        
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        align-items: center; /* Centraliza os itens verticalmente */
        gap: 2rem; /* Espaçamento entre os itens */
        padding: 2rem; /* Espaçamento interno */
        border-radius: 2rem;
    }

    .experience-info img {
        width: 15rem; /* Reduz o tamanho das imagens */
        height: 15rem;
    }
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
    body{
        gap:2rem;
    }
    
    .intro {
        padding: 2rem; /* Espaçamento interno */
        min-width: 90vw; /* Largura mínima */
        min-height: 10vh;
        height: auto; /* Altura se adapta ao conteúdo */
        flex-direction: column; /* Empilha os itens verticalmente */
        justify-content: center; /* Centraliza os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
    }
    
    .intro-info {
       
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        align-items: center; /* Centraliza os itens verticalmente */
        gap: 2rem; /* Espaçamento entre os itens */
        padding: 2rem; /* Espaçamento interno */
        background-color: rgba(146, 224, 255, 0.1); /* Cor com opacidade reduzida */
        border-radius: 2rem;
    }


    .experience{
        padding: 2rem; /* Espaçamento interno */
        min-width: 90vw; /* Largura mínima */
        min-height: 10vh;
        height: auto; /* Altura se adapta ao conteúdo */
        
        flex-direction: column; /* Empilha os itens verticalmente */
        justify-content: center; /* Centraliza os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    .experience-info {
        
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        align-items: center; /* Centraliza os itens verticalmente */
        gap: 2rem; /* Espaçamento entre os itens */
        padding: 2rem; /* Espaçamento interno */
        border-radius: 2rem;
    }

    .experience-info img {
        width: 15rem; /* Reduz o tamanho das imagens */
        height: 15rem;
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 768px) {
    intro {
        padding: 2rem; /* Espaçamento interno */
        min-width: 90vw; /* Largura mínima */
        min-height: 10vh;
        height: auto; /* Altura se adapta ao conteúdo */
        display: flex;
        flex-direction: column; /* Empilha os itens verticalmente */
        justify-content: center; /* Centraliza os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
    }
    
    .intro-info {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        align-items: center; /* Centraliza os itens verticalmente */
        gap: 2rem; /* Espaçamento entre os itens */
        padding: 2rem; /* Espaçamento interno */
        background-color: rgba(146, 224, 255, 0.1); /* Cor com opacidade reduzida */
        border-radius: 2rem;
    }

    .experience-info {
        grid-template-columns: 1fr; /* Ajusta para uma coluna */
        gap: 1rem; /* Reduz o espaçamento entre os itens */
    }

    .experience-info img {
        width: 12rem; /* Reduz ainda mais o tamanho das imagens */
        height: 12rem;
    }
}
